@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #2e2e2e;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(211, 251, 216, .4);
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Josefin+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #131313;
}

h2 {
    text-align: center;
    margin-bottom: 50px;

}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 40px;
}



/* navigation bar */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    word-spacing: 5px;
    display: flex;
    justify-content: flex-end;

}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #8083ff;
}

.active {
    border-bottom: 1px solid #8083ff;
}

/* main image */

#main-outlayer {
    height: 600px;
    width: 100%;
    clear: both;
    padding-top: 180px;
}

#main-image {
    height: 500px;
    width: 100%;
    background: url("../images/Main.jpg") no-repeat center center;
    margin-top: 30px;
    position: relative;



    /* animates zoom effect on loading page*/
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create zoom effect of the main image*/

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#booking-button {
    position: absolute;
    color: #2e2e2e;
    font-size: 120%;
    font-family: Josefin+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 140px;
    height: 70px;

    background-color: rgba(211, 251, 216, .5);

    top: 85%;
    left: 45%;
}

#booking-button:hover {
    background-color: #D3FBD8;
}

/* why booking with us */

#booking-reasons {
    height: 500px;
}

#booking-reasons h2 {
    padding-top: 40px;
}

.container-1 {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 30px;
    font-size: 110%;
}

/* online review link */
.review-link {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.review-link a:hover {
    color: #8083FF;
}

/* Direction and map*/

.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


}

.box1 {
    flex-basis: 18%;
    font-size: 110%;
    text-align: right;

}

#direction:hover {
    color: #8083FF;
}

/* #direction:focus {
    font-size: ;
} */

.box2 {
    flex-basis: 35%;
    width: 100%;

}

/* request form */

.box3 {
    flex-basis: 45%;
    font-size: 110%;
    background-color: rgba(211, 251, 216, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.form {
    width: 50%;
    position: relative;
    height: 50px;
    font-size: 110%;
}

.form input {
    width: 100%;
    height: 100%;
    color: #2E2E2E;
    padding-top: 20px;
    font-size: 100%;
    border: none;
    border-bottom: 3px solid #8083FF;
    outline: none;
}

.form label {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
}

#message-field {
    width: 80%;
    height: 120px;
}

#submit-button {
    font-size: 130%;
    font-weight: bold;
    height: 40px;
    width: 100px;
    box-shadow: 3px 3px 7px #8083FF;
}

/* Footer - Contact us section*/



/* Footer - Opening Hours section*/



/* Footer - Question Button section*/



/* Footer - Social Media section*/





/* Media queries */

/* For medium to large screen size from 1200px width and below*/
@media screen and (max-width: 1200px) {

    #logo {
        font-size: 150%;
    }

    #menu {
        font-size: 100%;
    }

    #booking-reasons {
        width: 75%;
        height: 600px;
        margin: 0 auto;
    }

    .container-1 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .container-2 {
        font-size: 70%;
    }

    iframe {
        width: 90%;
        height: 205px;
    }
    

    .box3 {
        width: 80%;
        font-size: 100%;
    }

    .form {
        height: 40px;
    }

    .form input {
        padding-top: 5px;
    }

    #message-field {
        height: 80px;
    }

    #submit-button {
        font-size: 110%;  
        width: 80px;
        height: 30px;    
        
    }
    
    

}

/* For small to medium screen size from 900px width and below*/
@media screen and (max-width: 950px) {

    span {
        display: none;
    }

    #menu,
    #logo {
        line-height: 35px;
    }

    #menu {
        font-size: 70%;
        display: block;
        width: 100px;
        padding-left: 20px;
    }

    #menu a:hover {
        background-color: rgba (128, 131, 255, .5)
    }


    #logo {
        font-size: 80%;
        padding-left: 15px;
        padding-top: 15px;
    }

    #booking-button {
        width: 100px;
        height: 50px;
        font-size: 70%;
    }

    #main-outlayer {
        height: 500px;
    }

    #main-image {
        height: 80%;
        width: 100%;
    }

    #booking-reasons {
        font-size: 80%;
        width: 100%;
        height: auto;
    }

    .container-1 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .container-2 {
        flex-flow: column;
        align-items: center;
        height: 250px;
        width: 100%;
        flex-basis: content;
        font-size: 70%;
                  
    }

    iframe {
        width: 90%;
        height: 180px;
    }

}