@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(211, 251, 216, .9);
}
main {    
    flex-grow: 1;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #131313;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

#logo {
    float: left;
    font-size: 200%;
    padding-left: 40px;
    /* background-image: linear-gradient(to right, pink,yellow); */
    color: #2e2e2e;
    border-radius: 6px;
    background: -webkit-linear-gradient(blue, purple); /* line 59-61 I borrowed from https://cssgradient.io/blog/css-gradient-text/*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* navigation bar */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    word-spacing: 5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    padding-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #8083ff;
    color: #FAF7FF;
    border-radius: 6px;
    font-weight: bold;
}

.active span {
    border-style: none;
}

/* #menu a:after {
    border-bottom: 1px solid #8083ff;
} */

#menu a:active {
    border-bottom: 2px solid rgba(128,131,255,.4);    
}


/* main image */

#main-outlayer {
    height: 600px;
    width: 90%;
    clear: both;
    padding-top: 120px;
    margin: auto;
}

#main-image {
    height: 600px;
    width: 90%;
    background: url("../images/main.jpg") no-repeat center center;
    padding-top: 30px;
    position: relative;
    margin: auto;
    

    /* animates zoom effect on loading page*/
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create zoom effect of the main image*/

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#booking-button {
    position: absolute;
    color: #2e2e2e;
    font-size: 120%;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 160px;
    height: 50px;

    background-color: rgba(211, 251, 216, .5);
    border-radius: 7px;
    top: 85%;
    left: 45%;
}

#booking-button:hover {
    background-color: #D3FBD8;
}

#booking-button a {
    text-decoration: none;
}

/* why booking with us */

#booking-reasons {
    height: 500px;
    margin-bottom: 50px;
}

#booking-reasons h2 {
    padding-top: 100px;
}

.container-1 {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 30px;
    font-size: 110%;
}

/* online review link */
.review-link {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.review-link a:hover {
    color: #8083FF;    
}

.review-link i {
    font-size: 200%;
}
/* Direction and map*/

.container-2 {
    display: flex;    
    justify-content: space-evenly;
    padding-bottom: 20px;
    align-content: flex-start;
    padding-top: 30px;
}

.box1 {
    flex-basis: 18%;
    font-size: 110%;
    text-align: right;
    padding-right: 10px;
}

.box2 {
    flex-basis: 35%;
    width: 100%;
    padding-right: 10px;
}

/* request form */

.box3 {
    flex-basis: 45%;
    font-size: 110%;
    background-color: rgba(211, 251, 216, .5);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content:flex-start;
    height: fit-content;
}

.box3 h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 25px;
}

.box3 form {
    height: 480px;
}

.box3 > p {
    text-align: center;
    padding: 0 10px 0 10px;
}

.form {
    width: 60%;
    position: relative;
    height: 50px;
    font-size: 110%;
    padding: 20px;
    flex: 1 0 auto;
}

.form input, .form textarea {
    width: 100%;
    height: 100%;
    color: #2E2E2E;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 100%;
    border: none;
    border-bottom: 3px solid #8083FF;
    outline: none;
    border-radius: 15px;
}

.form textarea {
    padding-top: 30px;
}

.form label {    
    font-weight: bold;
    float: left;
}

#message-field {
    width: 80%;
    height: 120px;
    font-family: inherit;
}

#submit-button {
    font-size: 120%;
    font-weight: bold;
    box-shadow: 3px 3px 7px #2023d6;
    text-align: center;
    padding-top: 0;
    background-color: #787586;
    color: #FAF7FF;
    margin-top: 40px;
}

#submit-button:active {    
        background-color: #787586;        
        transform: translateY(4px);
      }


/* Footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(69, 67, 82, .5);
    color: #FAF7FF;
    height: 95px;    
}

.footer-container h4 {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.footer-div, .mobile-footer {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

/* Footer - Contact us and Opening Hours section*/

table {    
    width: 350px;
    font-size: 100%;
}

/* Footer - Social Media section*/

.social-links {
    padding-right: 30px;
    font-size: 130%;
}


/* Gallery page*/

#gallery-section {
    padding-bottom: 50px;
}

.img-container {
    display: flex;    
    flex-wrap: wrap;    
    padding-top: 110px;
}

.img-item {
    margin: 5px;
    height: 40vh;
    flex-grow: 1;    
    object-fit: cover;
}

/* Booking page */

.form-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    height: fit-content;
    width:auto;
    flex: 1 0 auto;  
    padding-bottom: 80px;  
}

.booking-form {    
    width: 80%;
    height:fit-content;
    background-color: #D3FBD8;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.guests-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.guests-option {
    text-align: left;     
}

.guests-option tr {
    line-height: 30px;
    width: auto;

}

.guests-option select {
    padding-left: 80px;
}

.booking-message {
    padding-top: 40px;
}

#text-field {
    padding-top: 10px;
}

#submit-booking-button {
    font-size: 140%;    
    width: 150px;
    height: 45px;
    color: #8083FF;
    font-weight: bold;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 1s;
}

#submit-booking-button:hover {
    background-color: #8083FF;
    color: #FAF7FF;
    padding: 0;
}

#submit-booking-button:active {
    background-color: #8083FF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
    
/* Form action-page */

#action-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.action-message {
    
    padding-top: 100px;
}
.action-message p {
    text-align: center;
    padding-bottom: 50px;    
}

.action-image {
    background: no-repeat;    
}

/* Media queries */

/* For medium to large screen size from 1200px width and below*/
@media screen and (max-width: 1200px) {

    #logo {
        font-size: 150%;
    }

    #menu {
        font-size: 100%;
    }

    #booking-reasons {
        width: 75%;
        height: 600px;
        margin: 0 auto;
    }

    .container-1 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .container-2 {
        font-size: 70%;
        margin-top: 50px;
    }

    iframe {
        width: 90%;
        height: 205px;
    }
    
    .box3 {
        width: 80%;
        font-size: 100%;
    }

    .box3 form {
        height: 400px;
    }

    .form input {
        padding-top: 5px;
    }

    #message-field {
        height: 80px;
    }

    #submit-button {
        font-size: 140%;  
        width: 150px;
        height: 30px;   
        margin-top: 40px;        
    }
    
    .footer-container, .footer-div {
        
        font-size: 95%;        
    }

    table {
        width: 280px;
        font-size: 80%;
    }

    .social-links {
        padding-right: 20px;
        font-size: 110%;
    }
    
    /* action page */

    #action-page-body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #action-page-main {
        flex-grow: 1;
    }
    
       
}

/* For small to medium screen size from 950px width and below*/
@media screen and (max-width: 950px) {

    body {
        color: black; 
    }

    main {
        padding-bottom: 80px;
    }
     
    /* header */
    span {
        display: none;
    }

    #menu,
    #logo {
        line-height: 20px;
    }

    #menu {
        font-size: 90%;
        font-weight: bold;        
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;        
        flex-wrap: nowrap;
        justify-content: space-evenly;        
    }

    #menu a:hover {
        background-color: rgba(128, 131, 255, .5);
        height: 70%;
    }

    #logo {
        font-size: 130%;
        padding: 15px 0 20px 15px;
    }

    #booking-button {
        width: 100px;
        height: 50px;
        font-size: 70%;
        left: 35%;
    }

    #main-outlayer {
        height: 500px;
        padding-top: 140px;
    }

    #main-image {
        height: 70%;
        width: 90%;
    }

    #booking-reasons {
        font-size: 80%;
        width: 95%;
        height: auto;
        margin-bottom: 20px;
    }

    #booking-reasons h2 {
        padding-top: 30px;
    }

    .container-1 {
        margin-left: 10px;
        margin-right: 20px;
        text-align: center;
        width: 95%;
    }

    .container-2 {
        flex-flow: column;
        align-items: center;
        height: fit-content;
        width: 100%; 
        margin-top: 50px;        
    }

    .box1 {
        flex-basis: 10%;
    }

    .box2 {
        flex-basis: 45%;
        width: 80%;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .box3 {
        width: fit-content;        
        flex-grow: 5;
        font-size: 130%;
        padding: 5px;
        height: fit-content;
    }

    .box3 form {
        height: 450px;
    }

    .form {
        width: 80%;
        padding: 10px;
        margin: 15px;
    }

    #message-field {
        width: 90%;
    }

    iframe {
        width: 90%;
        height: 180px;
    }
    
    #submit-button {
        font-size: 140%;
        width: 150px;
        height: 40px;
        margin-top: 50px;
    }


    .footer-container {          
        flex-direction: column;        
        justify-content: space-between;        
        background-color: white;
        color: #2e2e2e;
        height: 200px;
        align-items: center;
        flex-grow: 1;        
    }

    .footer-div {
        font-size: 120%;        
    }

    table {
        width: 280px;
        font-size: 80%;
    }

    .mobile-footer {
        width: 100%;
        height: 25px;
        background-color: rgba(69, 67, 82, .5);
        color: #FAF7FF;
        text-align: center;
        padding-top: 10px;
        position: fixed;
        left: 0;
        bottom: 0;
               
    }

    #followus {
        display: none;
    }

    .social-links {
        padding-top: 10px;
        padding-right: 50px;
        font-size: 110%;
    }

    /* Gallery page */

    .img-container {            
        padding-top: 100px;
        flex-direction: column;
    }

    /* booking page*/
    .guests-container {
        display: block;
    }

    /* action page */
    .action-image {        
        display: none;                   
    }

    .action-message {
        padding-top: 150px;
        margin-bottom: 40px;
    }

}